#image{
    width: 36.4rem;
}
@media (max-width:360px) {
    *{
        width:100%;
    }
    #ico{
        margin-top:1.2rem;
        border-radius: 120px;
        width:60px
    }
    #image{
        display: none;
    }
    #h-1{
        margin-top:3rem;
        text-align: center;
        margin-left:1.3rem;
    }
    #form{
        margin-top:2rem;
        width:18rem;
        margin-left:2rem;
    }
    #li-1{
        margin-top:30px;
        margin-left:11.1rem;
    }
    #send{
        width:18rem;
    }
    #li-2{
        margin-left:1.4rem;
    }

}


@media (max-width:412px){
    *{
        border:1px solid black;
        width:100%;
    }
    #image{
        display: none;
    }
    #ico{
        margin-top:1.2rem;
        border-radius: 120px;
        width:60px
    }
    #h-1{
        margin-top:3rem;
        text-align: center;
        margin-left:1.3rem;
    }
    #form{
        margin-top:2rem;
        width:19rem;
        margin-left:2rem;
    }
    #li-1{
        margin-top:30px;
        margin-left:11.1rem;
    }
    #send{
        border: 1px solid black;

        width:19rem;
    }
    #li-2{
        margin-left:2rem;
    }
}
